html {
    font-family: arial, sans-serif;
    background-color:white;
  }

  .navtop ul{
text-align: right;
list-style-type: none;
margin: 25px 10px 0px 10px;

  }

  .navtop ul li {
display: inline-block;
  }

  .navtop ul li a {
padding: 8px;
margin-right: 8px;
margin-top: 30px;
font-size: 13px;
color: rgba(0,0,0,0.87);
text-decoration: none;
  }
.navtop ul li a:hover {
text-decoration: underline;
color: grey
  }
  #Signin{
background-color:rgb(67, 135, 253);
color: white;
margin-left: 8px;
margin-right: 20px;
padding: 6px 12px 6px 12px;
border: none;
border-radius: 2px;
font-weight: 700;
  }

.search{
height: 86%;
}
#logo {
text-align: center;
padding-top: 109px;
}
.bar{
text-align: center;
width: 100%;
}
#search-bar {
    margin: 20px 20px;
    width: 582px;
    height: 44px;
    border: 1px solid rgb(96, 97, 99);
    box-sizing: border-box;
    padding: 10px 37px 12px 10px;
    font-size: 16px;
    border-radius: 10px;
  }
#search-bar:hover{
    box-shadow: 1px 1px 2px darkgray;
}
.buttons     {
    text-align: center;
}
.buttons input {
    border: 1px solid whitesmoke;
    padding: 10px 10px;
    font-size: 12px;
    background-color: whitesmoke;
    font-weight: bold;
    color: dimgray;
    margin: 0px 2px;
  }
  
  .buttons input:hover {
    color: black;
    border-color: gainsboro;
  }
  .nav-bot {
    position: absolute;
    background-color: whitesmoke;
    display: inline-block;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-top: 8px;
    padding-bottom: 20px;
  }
  
  .nav-bot ul {
    list-style-type: none;
  }
  
  .nav-bot ul li {
    display: inline;
  }
  
  .nav-bot ul li a {
    text-decoration: none;
    font-size: 11px;
    color: dimgray;
    padding: 0px 10px 0px 10px;
  }
  
  .nav-left {
    float: left;
    margin-left: 10px;
  }
  
  .nav-right {
    float: right;
    margin-right: 20px;
  }
  
  *:focus {
    outline: none;
  }